.form-container {
    width: 800px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 1px;
}

.field-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}
.field {
    height: 24px;
    width: 200px;
}
.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-field-single {
    width: 85%;
}
.icon-button {
    width: 50px;
    height: 50px;
    margin-bottom: -5px !important;
    background-color: #3f51b5 !important;
    color: #FFF  !important;
}

.paper {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.form-buttons-container button, .form-buttons-container a {
    width: 180px;
    margin-right: 1rem;
}
