.list-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.list-wrapper-head {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
}

.list-wrapper-filter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.add-button {
    margin-left: auto !important;
    margin-right: 1rem !important;
}
.task-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter-field {
    margin-right: 1rem !important;
}
.task-tags {
    margin-right: 0.5rem;
}
.timer-display {
    text-align: center;
}

